app-search-bar {
    position: absolute;
    max-width: 20vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25vh;
    transition: all 100ms ease-in;
    form {
        display: flex;
        align-items: center;
        .search-input {
            width: 100%;
            background-color: #0000003d;
            border-radius: 30px;
            text-align: center;
            .search {
                display: inline-block;
                position: relative;
                height: 35px;
                box-sizing: border-box;
                margin: 0px 8px 7px 0px;
                padding: 5px 0 0;
                transition: all 200ms ease;
                cursor: text;
                width: 17vw;
                margin-right: 0px;
                border: 0;
                border-radius: unset;
                ::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }
                input {
                    width: 100%;
                    border: none;
                    box-sizing: border-box;
                    font-size: 14px;
                    color: inherit;
                    background: transparent;
                    outline-width: 0px;
                    border-bottom: 1px solid #FFFFFF;
                    padding: 0;
                    height: 100%;
                }
                ::-webkit-input-placeholder {
                    color: rgba(255, 255, 255, 0.4);
                }
                .input-highlight {
                    font-size: 14px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    line-height: 70px;
                    border-top: 1.2px solid #FF5733;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    max-width: 100%;
                    height: 0;
                    color: transparent;
                    overflow: hidden;
                }
            }
        }
    }

    .search-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 0;

        >div {
            background-position: center;
            background-size: 20px;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            background-color: #ffffff;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            margin-top: 10px;
            transition: visibility 0s, opacity 0.2s, margin-top 0.2s ease-in;
        }

        .google-icon {
            background-image: url('../../../assets/images/search-icons/google.png');
        }

        .amazon-icon {
            background-image: url('../../../assets/images/search-icons/amazon.png');
        }

        .ebay-icon {
            background-image: url('../../../assets/images/search-icons/ebay.png');
        }

        .walmart-icon {
            background-image: url('../../../assets/images/search-icons/walmart.png');
        }

        .aliexpress-icon {
            background-image: url('../../../assets/images/search-icons/aliexpress.png');
        }
    }

    .search-icons.show {
        margin: 10px auto;
        height: 26px;
        width: 17vw;

        >div {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        .amazon-icon {
            transition-delay: 50ms;
        }

        .ebay-icon {
            transition-delay: 100ms;
        }

        .walmart-icon {
            transition-delay: 150ms;
        }

        .aliexpress-icon {
            transition-delay: 200ms;
        }
    }
}
