.full-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .iframe-wrapper {
        overflow: hidden;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: unset;
        height: unset;
    }
}
